*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
}
img{
    display: block;
    height: auto;
}
.container{
    width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #E5E5E5;;
}
.header-img{
    width: 170px;
}
.header-link{
    text-decoration-line: none;
    color: #7D7D7D;
    text-align: right;
    font-family: Libre Baskerville;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.571px;
}
.images-section{
    padding-top: 40px;
}
.images-wrapper{
    display: flex;
    column-gap: 40px;
    padding-bottom: 311px;
}
.first-col{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.box-one{
    height: 200px;
    padding: 114px 32px 33px 32px;
    background-image: url("./images/img-one.svg");
}
.box-styled{
    width: 310px;
    color: #fff;
    background-size: 100%;
    flex-shrink: 0;
}
.box-content-title{
    margin-bottom: 7px;
    font-family: Libre Baskerville;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.box-content-inf{
    font-family: Libre Baskerville;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.7528;
}
.box-two{
    height: 400px;
    padding: 285px 32px 33px 32px;
    background-image: url("./images/img-two.svg");
}
.box-three{
    height: 600px;
    padding: 485px 32px 33px 32px;
    background-image: url("./images/img-three.svg");
}
.box-four{
    height: 200px;
    padding: 114px 32px 33px 32px;
    background-image: url("./images/img-four.svg");
}
.second-col{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.box-five{
    height: 400px;
    padding: 285px 32px 33px 32px;
    background-image: url("./images/five.svg");
}
.box-six{
    height: 200px;
    padding: 85px 32px 33px 32px;
    background-image: url("./images/img-six.svg");
}
.box-seven{
    height: 400px;
    padding: 314px 32px 33px 32px;
    background-image: url("./images/img-seven.svg");
}
.box-eight{
    height: 400px;
    padding: 314px 32px 33px 32px;
    background-image: url("./images/img-eight.svg");
}
.third-col{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.box-nine{
    height: 200px;
    padding: 114px 32px 33px 32px;
    background-image: url("./images/img-nine.svg");
}
.box-ten{
    height: 600px;
    padding: 485px 32px 33px 32px;
    background-image: url("./images/img-ten.svg");
}
.box-eleven{
    height: 400px;
    padding: 314px 32px 33px 32px;
    background-image: url("./images/img-eleven.svg");
}
.box-twelwe{
    height: 200px;
    padding: 85px 32px 33px 32px;
    background-image: url("./images/img-twelwe.svg");
}
.fourth-col{
    display: flex;
    flex-direction: column;
    row-gap: 40px; 
}
.box-threeten{
    height: 400px;
    padding: 285px 32px 33px 32px;
    background-image: url("./images/img-threeten.svg");
}
.box-fourteen{
    height: 200px;
    padding: 85px 32px 33px 32px;
    background-image: url("./images/img-fourteen.svg");
}
.box-fiveteen{
    height: 200px;
    padding: 85px 32px 33px 32px;
    background-image: url("./images/img-fiveeten.svg");
}
.box-sixteen{
    height: 600px;
    padding: 514px 32px 33px 32px;
    background-image: url("./images/img-sixteen.svg");
}