
@font-face {
    font-family: "Libre Baskerville";
    font-weight: 400;
    font-display: swap;
    src:  url("./fonts/libre-baskerville-v14-latin-regular.woff2") format("woff2"),
         url("./fonts/libre-baskerville-v14-latin-regular.woff") format("woff");
  }
  @font-face { 
    font-family: "Libre Baskerville";
    font-weight: 700;
    font-display: swap;
    src:  url("./fonts/libre-baskerville-v14-latin-700.woff2") format("woff2"), 
         url("./fonts/libre-baskerville-v14-latin-700.woff") format("woff");
  }
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family:"Libre Baskerville", "Times New Roman" , Serif;
}
img{
    display: block;
    height: auto;
}
.container{
    width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e5e5e5;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.header-img{
    width: 170px;
}
.header-link{
    text-decoration-line: none;
    color: #7d7d7d;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.571px;
}
.hero{
    padding-top: 40px;
    padding-bottom: 331px;
}
.section-wrapper{
    display: grid;
    grid-template: 1520px / repeat(4,310px);
    column-gap: 40px;
}
.first-col{
    display: grid;
    grid-template: 200px 400px 600px 200px / 310px;
    row-gap: 40px;
} 
.img-wrapper{
    position: relative;
}
.img-content-wrapper{
    position:absolute;
    width: 242px;
    left: 32px;
    bottom: 33px;
}
.content-title{
    margin-top: 0;
    margin-bottom: 7px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
.content-desc{
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    opacity: 0.7528;
}
.second-col{
    display: grid;
    grid-template: 400px 200px 400px 400px / 310px;
    row-gap: 40px;
} 
.third-col{
    display: grid;
    grid-template: 200px 600px 400px 200px / 310px;
    row-gap: 40px;
}
.fourth-col{
    display: grid;
    grid-template: 400px 200px 200px 600px / 310px;
    row-gap: 40px;
}